name: Run Tests

on:
  push:
    branches:
      - "**"
    tags:
      - "**"

jobs:
  # tests:
  #   runs-on: ubuntu-latest

  #   strategy:
  #     matrix:
  #       node-version:
  #         - 18
  #         - 20

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Set up NodeJS ${{ matrix.node-version }}
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: ${{ matrix.node-version }}

  #     - name: Install dependencies
  #       run: npm ci

  #     - name: Run tests
  #       run: npm run test

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci
      - name: Run build of each package
        run: npm run build

      - name: Run build of media-tools-utils
        run: npm run prepack
        working-directory: packages/media-tools-utils

      - name: Run build of mp4-tools
        run: npm run prepack
        working-directory: packages/mp4-tools

      - name: Run build of ogg-tools
        run: npm run prepack
        working-directory: packages/ogg-tools

      - name: Run build of webm-tools
        run: npm run prepack
        working-directory: packages/webm-tools

      - name: Run build of media-tools
        run: npm run prepack
        working-directory: packages/media-tools

      - name: Check if types are complete
        run: |
          grep -q "as mp4 from '@ludovicm67/mp4-tools'" ./packages/media-tools/dist/index.d.ts
          grep -q "as ogg from '@ludovicm67/ogg-tools'" ./packages/media-tools/dist/index.d.ts
          grep -q "as webm from '@ludovicm67/webm-tools'" ./packages/media-tools/dist/index.d.ts
